.App-header {
    background-color: #ffffff;
    color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-icons {
    display: flex;
    align-items: center;
    color: blue;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    max-width: 150px;
    height: auto;
  }
  
  .right-icons {
    display: flex;
  }
  
  .blue-heart {
    margin-right: 10px;
    font-size: 20px;
    color: #007bff;
  }
  
  .shopping-bag {
    font-size: 20px;
    color: #007bff;
  }
  