.free-container {
    position: relative;
    margin-top: 10px;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    /* color: white; */
    text-align: center;
  }
  
  .highlight-background {
    background-color: #e0e0f7;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .highlight-text {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    text-align: left;

  }
  
  .underline-text {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    text-align: left;

  }
  
  .hero-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }  